README.md
LICENSE
.git
key.txt.age


{{ if ne .chezmoi.os "darwin" }}
.osx
Brewfile
.config/karabiner
.ssh
{{ end }}

{{ if and (ne .chezmoi.os "linux") (ne .chezmoi.os "darwin") }}
.bash_aliases
.bashrc
.zsh_aliases
.zshrc
.zshenv
.config/nvim
.config/zsh
{{ end }}

{{- if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
{{- end -}}

{{ if ne .chezmoi.os "windows" }}
Documents
.chezmoiscripts/windows/**
{{ end }}
