README.md
LICENSE
.git
key.txt.age
.oh-my-zsh/cache

{{ if and (ne .chezmoi.os "darwin")  (ne .is_desktop true)  }}
.oh-my-zsh
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.osx
Brewfile
.config/karabiner
.config/ghostty
.config/wezterm
{{ end }}

{{ if and (ne .chezmoi.os "linux") (ne .chezmoi.os "darwin") }}
.bash_aliases
.bashrc
.zsh_aliases
.zshrc
.zshenv
.config/nvim
.config/zsh
.ssh
{{ end }}

{{- if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
{{- end -}}

{{ if ne .chezmoi.os "windows" }}
Documents
.chezmoiscripts/windows/**
{{ end }}
